<!doctype html>
<html lang="en">
<head>
   <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
   <meta http-equiv="Pragma" content="no-cache">
   <meta http-equiv="Expires" content="0">
   <!META HTTP-EQUIV="refresh" CONTENT="0.5">
   <!link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
   <link rel="stylesheet" href="static/style.css?ver=1.2">
   <body style="background-color:white;">
   <script src="{{ url_for('static',filename='javascript.js?id=1') }}"></script>


      <center><p style="font-size:80px;font-family:'Roboto',sans-serif;color:black"><b>Water Detection</b></p></center>
      <center><p style="font-size:20px;font-family:'Roboto',sans-serif;color:black">Please upload an image of your choice</p></center>
      <center><h2 style="font-size:20px;font-family:'Roboto',sans-serif;color:black">For Example: providing input as an image like in left results in model prediction as shown in right</h2> </center>

      <!div class="crop">
      <!img  src="{{ url_for('static',filename='image_18.jpg') }}" />
      <!img  src="{{ url_for('static',filename='test_img.png') }}" />
      <!/div>

    <!link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <meta charset=utf-8 />
    <title>Water Detection</title>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
    article, aside, figure, footer, header, hgroup, 
    menu, nav, section { display: block; }
    </style>

    <meta http-equiv="Cache-Control" content="no-store" />
      
      <div class="image123">
          <div class="image-container">
              <img class="image-prop1" src="{{ url_for('static',filename='image_18.jpg') }}" />
              <span class="caption1"> &emsp; A landsat satellite image</span>
          </div>
          
          <div class="image-container">
              <img class="image-prop2" src="{{ url_for('static',filename='test_img.png') }}" />
              <span class="caption2">Our Water-Segmenation model predicting land as white-area and water as black area.</span>
          </div>

      </div>
    

     

      <div class="image123">

        <div class="image-container">
            <img class="image-prop3" src="{{url_for('static',filename='user_uploaded_image.jpg') }}" />
            <span class="caption3"> &emsp; User Image</span>
        </div>

        

      </div>
      <div class="image123">
        <div class="image-container2">
            <img class="image-prop4" src="{{ url_for('static',filename='result_img.png') }}" />
            
            <span class="caption4">&emsp; Model Output</span>
        </div>
      </div>

     <!----
      <div class="image-upload">
        <label for="file-input">
          <img class="click-upload" id="alp1" src="{{ url_for('static',filename='upload_your_image_here.jpg') }}"/>
          
        </label>
      
        <input id="file-input" type="file" onchange="readURL(this);">
        <!img id="demo" />
      </div>

      <div class="jv-image" id="header"></div>
      
      <!input type='file' onchange="readURL(this);" />
      <!img id="blah" src="#" alt="your image" />


     <div class="image-container">
      <img class="image-prop1" id="alp1" src="{{ url_for('static',filename='blank-img.jpg') }}"/>
    </div>  

    
      <div class="upload-btn-wrapper">

        <form action="/handle-form" method="POST" enctype="multipart/form-data">
          <button class="btn">Click Here: Upload your .jpg satellite image file</button>
          <input type="file" name="image-file" id="image-file" onchange="readIMG(this);"/>    
          
        </form>
      </div>


    -->
      
      




   </body>
</head>
</html>